.navbar {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-end;
  border: 2px solid #fab005;
  border-radius: 27.5px;
  background: #333;
  box-shadow: 0 0 20px 1px #1d1d20;

  &_link {
    padding: 12px 24px;
    text-transform: capitalize;
    color: white;
    font-size: 16px;

    &_active {
      color: black;
    }
  }
}

.animatedActive {
  @extend .navbar_link;

  position: absolute;
  background: #fab005;
  top: 0;
  z-index: -1;
  color: black;
  border-radius: 25px;
  transition: left 0.3s;
}
