$main-color-light: #bbf7d0;
$main-color: #86efac;
$text-color-gray-light: #a1a1aa;
$text-color-gray: #71717a;
$main-text-color: #6b7280;
$background: #18181b;

html,
body {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  width: auto;
  background: $background;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

h1 {
  color: $main-color-light;
  font-size: 96px;
}

h2 {
  color: $text-color-gray;
  font-size: 48px;
}

h3 {
  color: $main-color-light;
  font-size: 18px;
}

p,
span {
  color: $main-text-color;
}

button {
  padding: 12px 24px;
  background: $main-color;
  color: #14532d;
  outline: none;
  border: none;
  border-radius: 9999px;
  font-size: 16px;
  font-weight: bold;

  &:hover {
    box-shadow:
      0 10px 15px -3px rgb(134 239 172 / 30%),
      0 4px 6px -4px rgb(134 239 172 / 30%);
  }
}
