$primary-color: #FAB005;
$second-color: #121212;

html,
body {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  width: auto;
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

button {
  padding: 12px 24px;
  background: $primary-color;
  color: #14532d;
  outline: none;
  border: none;
  border-radius: 9999px;
  font-size: 16px;
  font-weight: bold;

  &:hover {
    box-shadow:
      0 10px 15px -3px rgb(134 239 172 / 30%),
      0 4px 6px -4px rgb(134 239 172 / 30%);
  }
}
